body{
    height: 90vh;
}

.Container{
    height: 100%;
    margin: 40px;


    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center;     /* Vertical centering */
}


.month { /* Style for each month container */
    /* Add your styling here */
}